*{
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.container{
	margin: auto;
	border: 2px solid black;
	top: 30%;
	width: 500px;
	height: auto;
}

header{
	background-color: lightskyblue;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
button{
	margin-left: 90%;
	background-color: lightskyblue;
	font-size: 14px;
}
footer{
	background-color: lightskyblue;
	height: 25px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
